<div class="content currency">
	<div class="row">
		<p>This is the partial for view 2.</p>
		<p>
			{{ welcomeMessage }}
		</p>
		<input type="text" ng-model='currencies.val'>
		<select ng-model="currencies.from" ng-options="code as code+' - '+currency for (code, currency) in currencies.all"></select>
		<div ng-click='switch()'></div>
		{{currencies.result}}
		<select ng-model='currencies.to' ng-options='code as code+" - "+currency for (code, currency) in currencies.all'></select>
		<p>
			Showing of 'interpolate' filter:
			{{ 'Current version is v%VERSION%.' | interpolate }}
		</p>
	</div>
</div>