.slideWrap{
	position: relative;
	width: 100%;
	height: 100%;
	perspective: 1200px;
	transform-style: preserve-3d;
}
.slide{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: visible;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
}

.slide.rtl{
	&.ng-enter {
		visibility: hidden;
		backface-visibility: hidden;
		transform: translate3d(0, 0, 0);
		animation: moveFromRight .6s linear both;
	}
	&.ng-enter-active {
		visibility: visible;
		z-index:1000;
	}
	&.ng-leave {
		visibility:visible;
		backface-visibility: hidden;
		transform: translate3d(0, 0, 0);
		animation: scaleDown .5s .2s ease both;
	}
	&.ng-leave-active {
	z-index: 1;
	}
}
.slide.ltr{
	&.ng-enter {
		visibility: hidden;
		backface-visibility: hidden;
		transform: translate3d(0, 0, 0);
		animation: moveFromLeft .6s linear both;
	}
	&.ng-enter-active {
		visibility: visible;
		z-index:1000;
	}
	&.ng-leave {
		visibility:visible;
		backface-visibility: hidden;
		transform: translate3d(0, 0, 0);
		animation: scaleDown .5s .2s ease both;
	}
	&.ng-leave-active {
		z-index:1;
	}
}

@keyframes scaleUp {
	from { opacity: 0; transform: scale(.8); }
}

@keyframes scaleDown {
	to { opacity: 0; transform: scale(.8); }
}

@keyframes moveFromRight {
	from { transform: translateX(100%); }
}
@keyframes moveToRight {
	to { transform: translateX(100%); }
}
@keyframes moveFromLeft {
	from { transform: translateX(-100%); }
}
@keyframes moveFromLeft {
	to { transform: translateX(-100%); }
}