/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body{
    height:100%;
}
body{
    background:#333;
    overflow: hidden;
}
a.widgets{
    border:1px solid silver;
    display:block;
    width:100%;
    padding:5%;
    color:dimGray;
    text-decoration:none;
    border-radius:3px;
    &.currency{
        box-shadow: inset 0 0 5px lime;
        border-width:0px;
    }
}

$homepage: #7BB7FA;
.content{
    height:100%;
    background: white;
    &.homepage{
        background:$homepage;
    }
    &.currency{
        background:#FDC162;
    }
}
